Package: com.zq.inspect
Name: inspect
Version: 0.0.1
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: zhangqiang
Author: zhangqiang
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
